[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "==0.29.33"
numpy = "*"
matplotlib = "==3.3.1"
seaborn = "==0.11.0"
plotly = "==4.12.0"
tensorflow = "*"
scikit-learn = "*"
keras = "*"
protobuf = "*"
kaggle = "*"
pandas = "<2"
streamlit = "==1.14.0"
altair = "<5"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
